div{
    border: 1px solid red;
    height: 300px;
    width: 300px;
    margin: 200px auto auto auto;
    padding: 10px;

}

a{
    background: pink;
    display: block;
    height: 100px;
    width: 100px;
    text-decoration: none;
    text-align: center;
    line-height: 100px;
    color: white;
}

a:hover{
    background: blue;
}

.a2,.a4{
    position: relative;
    right: -200px;
    top: -100px;
}

.a5{
    position: relative;
    right: -100px;
    top: -300px;
}