#nav{
    width: 300px;
    background: gray;
}

.title{
    background: darkgray;
    text-align: center;
    color: red;
    font-weight: bolder;
}

/*list-style
    none:去掉圆点
    circle：空心圆
    decimal：数字
*/

ul li{
    height: 30px;
    list-style: none;
    text-indent: 2em;
}

a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

a:hover{
    color: yellow;
    text-decoration: underline;
}
